.line-parent{
    background-color:#ff0000;
    border-radius:5px;
}
.line-chart-title{
    color:#ffffff;
    font-size:15px;
    width:147px;
    opacity:0.5;
    margin-left:34px;
    margin-top:29px;
}